function Main.update_loser 0
push argument 0
pop static 0
push constant 0
return
function Main.main 3
call Utils.init 0
pop temp 0
call Board.init 0
pop temp 0
call Gameplay.init 0
pop temp 0
call Menu.init 0
pop temp 0
push constant 0
pop local 2
push constant 0
pop local 1
push constant 0
pop static 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push local 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
pop local 1
label IF_FALSE1
push local 0
push constant 82
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
pop local 1
call Gameplay.roll_n_move 0
pop temp 0
goto IF_END2
label IF_FALSE2
push local 0
push constant 69
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
pop local 1
call Gameplay.end_turn 0
pop temp 0
goto IF_END3
label IF_FALSE3
push local 0
push constant 66
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
pop local 1
call Gameplay.property 0
pop temp 0
goto IF_END4
label IF_FALSE4
push local 0
push constant 86
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
pop local 1
call Gameplay.view_all 0
pop temp 0
goto IF_END5
label IF_FALSE5
push local 0
push constant 49
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
pop local 1
call Gameplay.view_sell_p1 0
pop temp 0
goto IF_END6
label IF_FALSE6
push local 0
push constant 50
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
pop local 1
call Gameplay.view_sell_p2 0
pop temp 0
goto IF_END7
label IF_FALSE7
push local 0
push constant 72
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
pop local 1
call Rules.show 0
pop temp 0
goto IF_END8
label IF_FALSE8
push local 0
push constant 81
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
pop local 1
push constant 0
not
pop local 2
label IF_FALSE9
label IF_END8
label IF_END7
label IF_END6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
push static 0
push constant 0
eq
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
not
pop local 2
label IF_FALSE10
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push static 0
push constant 0
eq
not
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
call Screen.clearScreen 0
pop temp 0
push static 0
push constant 1
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 10
push constant 20
push constant 13
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
call Msg.msg_string 3
pop temp 0
goto IF_END12
label IF_FALSE12
push constant 10
push constant 20
push constant 13
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
call Msg.msg_string 3
pop temp 0
label IF_END12
push constant 12
push constant 20
push constant 14
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Msg.msg_string 3
pop temp 0
call Input.prompt_enter 0
pop temp 0
label IF_FALSE11
call Screen.clearScreen 0
pop temp 0
push constant 10
push constant 20
push constant 18
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
call Msg.msg_string 3
pop temp 0
push constant 0
return
