push constant 1
pop local 1
push constant 1
pop argument 1
push constant 1
pop this 1
push constant 1
pop that 1
push constant 1
pop static 1
push constant 1
pop temp 1
push constant 1
pop pointer 1
push constant 1
pop pointer 0
